* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  
    background: #ebf2f5;
}

body, input, button, textarea {
    font: 600 16px Nunito, sans-serif;
}
@media (min-width: 600px){
    .MuiToolbar-regular {
        min-height: 25px  !important;
    }

    .MuiToolbar-gutters {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.MuiDrawer-paper{
    background: #1C4363 !important;
}
